{% extends 'layout.html' %}

{% block body %}

<h1 class="text-h2-lightblue">Experiment</h1>
<div class="content" id="experiment-article-section-1-content"></div>

Select a sentence : <select onchange="makeVis()">
    <option selected>---Select a sentence---</option>
    <option>Sentence 1 : Ram ate an apple.</option>
</select>
<br><br>
<div id="hidden">
    <p style="text-align: center;">Sentence : Ram ate an apple</p>
    <button value="Ram" id="word1" class="notactive" onclick="makeActive(1)">Ram</button>
    <button value="ate" id="word2" class="notactive" onclick="makeActive(2)">ate</button>
    <button value="an" id="word3" class="notactive" onclick="makeActive(3)">an</button>
    <button value="apple" id="word4" class="notactive" onclick="makeActive(4)">apple</button>
    <select id="dropdown">
        <option>---Select Chunk Name---</option>
        <option value="S">S</option>
        <option value="NP">NP</option>
        <option value="VP">VP</option>
        <option value="PP">PP</option>
    </select>
    <br>
    <br>
    <input type="submit" name="submit" value="Submit" onclick="getImage()">
    <div>
        <img id="image" src="../static/experiment/main.png">
    </div>
</div>
<style>
    #hidden {
        display: none;
    }
</style>
<script type="text/javascript">
    function makeVis() {
        document.getElementById('hidden').style.display = 'block';
    }
    function makeActive(number) {
        ele = document.getElementById('word' + number);
        if (ele.classList.value == 'notactive') {
            ele.classList.toggle('active');
            ele.classList.remove('notactive');
            ele.style.color = 'red';
        } else {
            ele.classList.toggle('notactive');
            ele.classList.remove('active')
            ele.style.color = 'black';
        }
    }
    function getImage() {
        ele1 = document.getElementById('word1').classList.value;
        ele2 = document.getElementById('word2').classList.value;
        ele3 = document.getElementById('word3').classList.value;
        ele4 = document.getElementById('word4').classList.value;
        dd = document.getElementById('dropdown').value;
        if (ele1 == 'active' && ele2 == 'active' && ele3 == 'notactive'&&ele4 == 'notactive'  && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/1.png';
        } 
        else if (ele1=='notactive' && ele2 == 'notactive' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/2.png';

        }
        else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/2.png';

       }
         else if (ele1 == 'active' && ele2 == 'active' && dd == 'S') {
           document.getElementById('image').src = '../static/experiment/4.png';

       } 
	    else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'notactive' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/5.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/6.png';
        }
        else if (ele1=='notactive' && ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/7.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4=='notactive'&& dd == 'S') {
            document.getElementById('image').src = '../static/experiment/8.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/9.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/10.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/11.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/11.png';
        }
        else if (ele1=='notactive' &&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/13.png';

        } else if (ele1=='notactive' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/14.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'S') {
            document.getElementById('image').src = '../static/experiment/14.png';
        }



        else if (ele1 == 'active' && ele2 == 'active' &&ele3=='notactive'&&ele4=='notactive'&& dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/16.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/17.png';

        }
        else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/17.png';

        }


        else if (ele1 == 'active' && ele2 == 'active'&&ele3=='notactive'&&ele4=='notactive' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/19.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' &&ele4=='notactive' &&dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/20.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/20.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' &&ele4=='notactive' &&dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/22.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' &&ele4=='notactive' &&dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/23.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/23.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' &&ele4=='notactive' &&dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/22.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/26.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/26.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/28.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/29.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'NP') {
            document.getElementById('image').src = '../static/experiment/29.png';
        }





        else if (ele1 == 'active' && ele2 == 'active' &&ele3=='notactive'&&ele4=='notactive'& dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/31.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/32.png';

        }
        else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/32.png';

        }


        else if (ele1 == 'active' && ele2 == 'active' &&ele3=='notactive'&&ele4=='notactive'&& dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/31.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4=='notactive'&&dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/35.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/35.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/37.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/38.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/38.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/37.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/41.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/41.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/43.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/44.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'VP') {
            document.getElementById('image').src = '../static/experiment/44.png';
        }



        else if (ele1 == 'active' && ele2 == 'active'&&ele3=='notactive' &&ele4=='notactive'&& dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/46.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&& ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/47.png';

        }
        else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/47.png';

        }


        else if (ele1 == 'active' && ele2 == 'active' && ele3=='notactive'&&ele4=='notactive'&&dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/46.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' &&ele4=='notactive' &&dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/50.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/50.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' &&ele4=='notactive'&& dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/52.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active'&&ele4==='notactive' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/53.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/53.png';
        }
        else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active'&&ele4=='notactive' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/52.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/56.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/56.png';
        }
        else if (ele1=='notactive'&&ele2=='notactive'&&ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/58.png';

        } else if (ele1=='notactive'&&ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/59.png';

        } else if (ele1 == 'active' && ele2 == 'active' && ele3 == 'active' && ele4 == 'active' && dd == 'PP') {
            document.getElementById('image').src = '../static/experiment/59.png';
        }
    }

</script>
{% endblock %}
