{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Further Readings</h1><div class="content" id="experiment-article-section-1-content"></div>
<center>Context-Free Grammars for English, Chapter 9<br /><i>Speech and Language Processing, Daniel Jurafsky and James
        H. Martin</i><br /><br /><br />
    Parsing with Context-Free Grammar, Chapter 10<br /><i>Speech and Language Processing, Daniel Jurafsky and James H.
        Martin</i></center>

{% endblock %}