{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Introduction</h1><div class="content" id="experiment-article-section-1-content">
        <div style="font-size:16px;">
                Context Free Grammar is a formal grammar consisting of some rules. These rules can tell us whether the string or a sentence is valid or not. A valid sentence can be represented using these rules in the form of tree called phrase structure tree. In other words, these rules are used for parsing the sentences. 
                <br/><br/>
                Context Free Grammar is not good for free word order language such as Hindi. This concept is largely used in a language like English for parsing.
        </div>
{% endblock %}
