{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Objective</h1><div class="content" id="experiment-article-section-1-content"></div>
<hr><br>
The objective of this experiment is to form phrase structure tree given the valid sentences and context free grammar.
<br><br><hr>
</hr></br></br></br></hr>
{% endblock %}