{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Procedure</h1><div class="content" id="experiment-article-section-1-content"></div>
<b><u>STEP1:</u></b> Select a sentence<br />
<b><u>STEP2:</u></b> Select the buttons containing words and the corresponding chunk type, as demonstrated in
<b>procedure</b><br />
<b><u>OUTPUT:</u></b> Phrase Structure Tree, formed from each step will be shown below<br /><br />
<b><u>NOTE</u></b>
<ol>
    <li>Use the Context Free Grammar given in <b>Procedure</b></li>
    <li>For mutiple possible parse, choose the parse for more probable sentences</li>
</ol>
{% endblock %}