{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Quizzes</h1><div class="content" id="experiment-article-section-1-content"></div>
According to the Context Free Grammar given in <b>Procedure</b>, which of these is a valid sentences:<br />
<ol>
    <li>Ram ate a mango</li>
    <li>They eats a mango</li>
    <li>Ram ate a very big mango</li>
    <li>Ram ate a spoon</li>
</ol>

{% if errorvalid == 1 %}
<script type="text/javascript">
	alert('Input an ans  between 1 and 4 (INCLUSIVE)');
</script>
{% endif %}

<form action="/submit" method="POST">
	<input type="text" name="inputbox"><br><br>
	<input type="submit" name="submit" value="Submit">
</form>

{% endblock %}
