{% extends 'layout.html' %}

{% block body %}
<h1 class="text-h2-lightblue">Theory</h1><div class="content" id="experiment-article-section-1-content"></div>
<p style="font-size:16px;">
    A Context Free Grammar is a set of productions used for generating sentences of a language.<br /><br />
    Context Free Grammar has four components:<br />
    <ol>
        <li>a set of <b>terminal symbols</b>, which are <i>lexicons</i> or <i>words</i>.</li>
        <li>a set of <b>non-terminal symbols</b>, which are generally denoted by <i>phrases</i> in computational
            linguistics. <b>Pre-terminal</b> is the special set of non-terminals which always extend to terminals.
            Pre-terminals are nothing but <i>Parts of Speech</i>.</li>
        <li>a set of <b>productions or rules</b> of the form V -&gt; w, where V is a non-terminal and w is a sequence of
            terminals and non-terminals.</li>
        <li>a <b>start symbol</b>, a special non-terminal symbol which appears initially and stands for <i>sentence</i>.
        </li>
    </ol>
    <br /><br />
    <b>Example:</b><br />
    <u><i>Rules</i></u><br />
    S -&gt; NP VP<br />
    NP -&gt; det noun<br />
    NP -&gt; noun<br />
    NP -&gt; det adj noun<br />
    NP -&gt; adj noun<br />
    VP -&gt; verb NP<br /><br />
    <u><i><b>Sentence:</b></i></u>Ram eats a mango<br />
    <i style="font-size:14px">Now, we will show how this sentence is formed using the rules</i><br />
    S -&gt; NP VP<br />
    S -&gt; noun VP<br />
    S -&gt; noun verb NP<br />
    S -&gt; noun verb det noun<br />
    S -&gt; Ram eats a mango <i>(RHS in above step is nothing but the Parts of Speech of the words in a
        sentence)</i><br /><br />
    However, this can also be represented in the form of phrase structure tree, as shown here:<br /><br />
    <center><img alt="PST not found" src="PST.JPG" style="width:400px;height:250px" /></center><br /><br />
    <i>This can also be interpretated as:</i><br />
    <b><i>a</i></b> and <b><i>mango</i></b> combines to form <b>NP</b><br />
    <b><i>eats</i></b> and <b><i>a mango</i></b> combines to form <b>VP</b><br />
    <b><i>Ram</i></b> is extended to <b>noun</b> and then to <b>NP</b><br />
    <b><i>Ram</i></b> and <b><i>eats a mango</i></b> which is actually VP (from STEP 2) combines to form <b>S</b><br />.
    <br />
    This is the task which is to be done in this experiment, and corresponding tree will be shown. For this experiment,
    you should know the parts of sppech of the words<br /><br />
    <b><u>Context Free Grammar</u> for this experiment</b><br />
    S -&gt; NP VP<br />
    S -&gt; VP<br />
    VP -&gt; VP PP<br />
    VP -&gt; VP NP<br />
    VP -&gt; verb NP<br />
    VP -&gt; aux-verb verb<br />
    NP -&gt; NP PP<br />
    NP -&gt; noun<br />
    NP -&gt; det noun<br />
    NP -&gt; det adjective noun<br />
    NP -&gt; adjective noun<br />
    NP -&gt; pronoun<br /><br /><br /><br /><br />
</p>

{% endblock %}